doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        style
            include ../styles/style.css
        title NasaApi
    body 
        h1=msj
        img(src=img width='600px')
        .btnBox
            a.btn(href='#') Users
            a.btn(href='http://localhost:3000/landing') Map
