doctype html
head
  meta(charset='UTF-8')
  meta(http-equiv='X-UA-Compatible' content='IE=edge')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  link(rel="stylesheet" href="/styles/style.css")
  title NasaApp
main
  nav
    h1.title
      img(src='../img/nasaLogo.png' width='50px')
      | App
    ul.navBar
      li
        a(href='/') Home
      li
        a(href='https://api.nasa.gov/') Api
      li
        a(href='/register') Register
      li
        a(href='/users') Users
      li
        a(href='/landing') Map
      
    
  section.section1
    article.infoArtc
      h3.info NasaApp - Info
      p
        | NasaApp es una sencilla aplicación basada en NodeJs con Express que utiliza una base de datos en MongoDB y el 
        | motor de plantilla Pug. 
        | Esta ofrece una parte de backend la cual puedes jugar con ella y obtener diferentes datos, para ello hay que
        | seguir los steps(recomendable una extension de JSON formater en el navegador). A este backend se le suma la 
        | parte de Front-End donde puedes navegar por esta sencilla web en la cual encontraras: las maravillosas imagenes
        | del dia sacadas de la Api oficial de la Nasa; un mapa con diferentes funcionalidades; un apartado para registrarte
        | en la base de datos y tener constancia de tu visita; y finalmente un apartado de usuarios en el cual puedes editar y
        | borrar a aquellos usuarios que te caen mal. (⌐■_■)  
          
  section.section2
    article.article2
      h3.steps NasaApp - Steps
      h4 Landings links
      p
        b /api/astronomy/landings
        br
        |             Ruta base
      p
        b /astronomy/landings?minimum_mass=200000
        br
        |             Para obtener nombre y masa de todos aquellos meteoritos cuya masa
        |             sea igual o superior a una masa (gr) dada
      p
        b /astronomy/landings/mass/200000
        br
        |             Para obtener nombre y masa de uno o m&aacute;s meteoritos cuya masa sea la
        |             especificada
      p
        b /astronomy/landings/class/L6
        br
        |             Para obtener los nombres y clase de aquellos meteoritos cuya clase
        |             sea la registrada
      p
        b /astronomy/landings?from=1960&amp;to=1990
        b /astronomy/landings?from=1960
        b /astronomy/landings?to=1990
        br
        |             Para obtener nombre, masa y fecha de todos los meteoritos ca&iacute;dos en
        |             determinadas fechas
      h4 Nea&apos;s links
      p
        b /api/astronomy/neas
        br
        |             Ruta base
      p
        b /astronomy/neas?class=aten
        br
        |             Para obtener la designaci&oacute;n y el per&iacute;odo anual en base a la clase
        |             orbital del asteroide
      p
        b /astronomy/neas?from=2010&amp;to=2015
        b /astronomy/neas?from=2010
        b /astronomy/neas?to=2015
        br
        |             Para obtener designaci&oacute;n, fecha y per&iacute;odo anual de todos los
        |             asteroides que cumplan el filtro de fechas dadas&ZeroWidthSpace;
  aside
        img(src=img width='500px' height='500px' alt='')
        h3.titleImg Astronomy Picture Of the Day
