doctype html
head
  meta(charset='UTF-8')
  meta(http-equiv='X-UA-Compatible' content='IE=edge')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  link(rel="stylesheet" href="/styles/style.css")
  link(rel="shortcut icon" href="../img/nasaLogo.png")
  title NasaApp
main
  include ./nav.pug

  section.section1
    article.infoArtc
      h3.info NasaApp - Info
      p
        | This Backend comes also with Front-End, where you can browse this simple web in which you will encounter marvelous images of the day taken from 
        | the official NASA api, also comes with a map of different functionalities, a section where you can register on the database and have proof of your visit and 
        | finally an section where your users can edit and remove those users that you dont like. (⌐■_■)
  section.section2
    article.article2
      h3.steps NasaApp - Steps
      h4 Landings links
      p
        b /api/astronomy/landings
        br
        |             Base path
      p
        b /astronomy/landings?minimum_mass=200000
        br
        |             To obtain the name and mass of all those meteorites
        |             whose mass is equal to or greater than a given mass(gr).
      p
        b /astronomy/landings/mass/200000
        br
        |             To obtain the name and mass of one or more meteorites whose mass is specified.
      p
        b /astronomy/landings/class/L6
        br
        |             To obtain the names and class of those meteorites whose class is the registered one.

      p
        b /astronomy/landings?from=1960&amp;to=1990
        b /astronomy/landings?from=1960
        b /astronomy/landings?to=1990
        br
        |             To get the name, mass and date of all meteorites that fell on certain dates.

      h4 Nea&apos;s links
      p
        b /api/astronomy/neas
        br
        |             Base path
      p
        b /astronomy/neas?class=aten
        br
        |             To obtain the designation and the annual period based on the orbital class of the asteroid.
      p
        b /astronomy/neas?from=2010&amp;to=2015
        b /astronomy/neas?from=2010
        b /astronomy/neas?to=2015
        br
        |             To obtain designation, date and annual period of all asteroids that meet the filter of given dates.
  aside
        img(src=img width='480px' height='480px' alt='')
        h3.titleImg Astronomy Picture Of the 
        h3.titleImg Day
