nav
    h1.title
        img(src='../img/nasaLogo.png' width='50px')
        | App
    ul.navBar
        li
            a(href='/') Home
        li
            a(href='/register') Register
        li 
            a(href='/login') Log In
        li
            a(href='/users') Users
        li 
            a(href='/search') Search
        li
            a(href='/landing') Map
        li
            a(href='https://api.nasa.gov/') Api
        
        