doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet" href="/styles/style.css")
        link(rel="stylesheet" href="/styles/registerStyle.css")
        link(rel="shortcut icon" href="../img/nasaLogo.png")
        title NasaApi
    body 
        nav
            h1.title
                img(src='../img/nasaLogo.png' width='50px')
                | App
            ul.navBar
                li
                a(href='/') Home
                li
                a(href='https://api.nasa.gov/') Api
                li
                a(href='/register') Register
                li
                a(href='/users') Users
                li
                a(href='/landing') Map
        h2(class='errMsj')=errMsj
        form(method='post', action='register')
            label(for='name') Fullname
            input(type='text', name='name', placeholder='Jhon')
            label(for='nickname') Username
            input(type='text', name='nickname', placeholder='Nick')
            label(for='occupation') Ocupation
            input(type='text', name='occupation', placeholder='Nurse')
            label(for='birthdate') Birthdate
            input(type='text', name='birthdate', placeholder='27/03/1970')
            label(for='affiliatedNumber') Affiliation number
            input(type='text', name='affiliatedNumber', placeholder='00000 (min 5 length) ')
            input(type='submit', placeholder='Register', class='sendButton')