doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet" href="/styles/style.css")
        link(rel="stylesheet" href="/styles/usersStyle.css")
        link(rel="shortcut icon" href="../img/nasaLogo.png")
        title NasaApi
    body 
        nav
            h1.title
            img(src='../img/nasaLogo.png' width='50px')
            | App
            ul.navBar
                li
                    a(href='/') Home
                li
                    a(href='https://api.nasa.gov/') Api
                li
                    a(href='/register') Register
                li
                    a(href='/users') Users
                li
                    a(href='/landing') Map
        table  
            each val in getId

                form(method='post', action='delete')
                    tr
                        td
                            label(for=val)=name[sumador++]
                            a(href=`/edit/${val}`, class='editBtn') Edit
                            input(type='hidden', value=val, name='id')
                            input(type='submit', class='nose', value='Delete', id=val)