form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}
label{
    font-size: 30px;
}
input{
    background-color: rgba(0, 0, 0, 0.397);
    color: white;
    height: 60px;
    font-size: 30px;
}
.submitButton{
    background-color: rgba(0, 0, 0, 0.767);
    margin-top: 50px;
    width: 40%;
    margin-bottom: 10px;
}
.submitButton:hover{
    color: rgb(139, 47, 224);
    background-color: rgba(255, 255, 255, 0.767);
    cursor: pointer;
}