html, body{
    height: 100%;

}
body{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}
table{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 70%;
}
tr {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    border: 1px groove rgba(255, 255, 255, 0.322);
    width: 100%;
}
td{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
label{
    font-size: 30px;
}
.editBtn{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.699);
    width: 100px;
    height: 40px;
    margin: 10px;
}
input{
    background-color: rgba(0, 0, 0, 0.699);
    width: 100px;
    height: 40px;   
    color: white;
    border: none;
    font-size: 15px;
}
input:hover{
    color: rgb(139, 47, 224);
    cursor: pointer;
    text-decoration: overline;
}
